<%= simple_form_for @question, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title, label: "Question:" %>

  <h3>Answers:</h3>
  <%= f.full_error :answers %>
  <%= f.simple_fields_for :answers do |r| %>
    <div class="row well">
      <%= r.input :title %>
    </div>
    <hr>
  <% end %>

  <%= f.submit class: "btn btn-md btn-primary" %>
<% end %>