<%= simple_form_for @question, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title, label: "Question:" %>

  <h3>Answers:</h3>
  <%= f.full_error :answers %>
  <%= f.simple_fields_for :answers do |r| %>
    <%= render partial: "answer_fields", locals: { f: r } %>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'Add answers', f, :answers, class: "btn btn-info" %>
  </div>

  <%= f.submit class: "btn btn-md btn-primary" %>
<% end %>