<!-- This is the code for producing a graph with Google's Chart API. 
Note: I have used the "classic chart", not their "material design" version.  -->

<script type="text/javascript">
// thanks http://stackoverflow.com/questions/22492434/bootstrap-loading-remote-google-chart-into-modal
// thanks due to: http://stackoverflow.com/users/2435481/john-guan
// console.log('script loaded');
  google.load('visualization', '1', {'packages':['corechart'], "callback": drawChart});

  function drawChart() {
    // console.log('drawChart');
    // var data = google.visualization.arrayToDataTable(<%= raw question.graph_data %>); 
    var data = new google.visualization.DataTable();

    data.addColumn('number', "answer_number");
    data.addColumn('number', 'answer_count');
    data.addColumn({type:'string', role:'annotation'});

    // raw has to be here to allow the quotes
    // var graphData = <%= raw graph_data %>;
    // console.log(graphData);  
    data.addRows(<%= raw graph_data %>);

    var options = {

      annotations: {
          alwaysOutside: false,
          textStyle: {
            fontSize: 18,
            fontName: 'Playfair Display',
            color: '#999',
            auraColor: 'none'
          },
      },
      chart: {
        title: '<%= question.title %>',
        subtitle: 'If we want a subtitle it goes here',
      },
      trendlines: {
        // 0: {type: 'linear', lineWidth: 5, opacity: .3}
        0: {type: 'polynomial', degree: 3, lineWidth: 30, opacity: .3}
      },      
      hAxis: {title: '<%= question.title %>', 
        gridlines: {color: 'transparent'}, 
        textPosition: 'none',
        titleTextStyle: {
            fontName: 'Playfair Display',
            fontSize: 20,
            color: '#333333',
            bold: true,
            italic: false
          } },
      vAxis: {title: 'normalness', gridlines: {color: 'transparent'}, textPosition: 'none', 
        titleTextStyle: {
            fontName: 'Playfair Display',
            fontSize: 36,
            color: '#333333',
            bold: true,
            italic: false
          } },
      baselineColor: 'transparent',
      width: 700,
      height: 400, 
      bar: {groupWidth: "90%"},
      backgroundColor: "white",
      // animation: { duration: 1000},  // doesn't seem to do anything exciting...
      legend: { position: 'none' }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart<%= question.id %>"));

    chart.draw(data, options);

    // Below is for using Material Design Google charts
    // var chart = new google.charts.Bar(document.getElementById('columnchart'));
    // chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>

  <div id="columnchart<%= question.id %>"></div>
