<h2>You can check to see if your question has already been asked.</h2>
<div class='row'>
  <div class="col-md-4">
    <h5>Providing a String to search by: "ing" or "is"; will return all questions containing that string.</h5>
    <%= form_tag questions_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'One word' %>
      <%= submit_tag "WILDCARD Search", :name => nil  %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h5>Narrow your search field: "Far" or "Accomplished"; will return
    questions only containing that word</h5>
    <%= form_tag questions_path, :method => 'get' do %>
      <%= text_field_tag :query, params[:query],placeholder: 'One word' %>
      <%= submit_tag "SINGLE Search", :name => nil %>
    <% end %>
    <br>
  </div>
  <div class="col-md-4">
    <h5>To many results or couldn't find what your looking for?</h5>
    <h5>Narrow your search with our advanced search.</h5>
    <div class="search" >
      <%= link_to "Advanced Search", new_search_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
<hr>
<div class="col-md-10">
<h1>Create a question</h1>
  <%= render "form" %>
</div>
