<div class='image_holder'><div id="background_image_to_slant"></div></div> 
<div class="row white_Playfair">
  <div class="col-sm-9 col-md-9">
    <h2><%= @question.title %></h2>
    <!-- <p>Created on: <%= stdDate(@question.created_at) %></p> 
    <p>Created by: <%#= @question.user_email %></p>
    <p>View count: <%#= @question.view_count %></p>
    <p>Like count: <%#= @question.likes_count %></p> -->
  </div>
  <div class="col-md-3">  <!-- use with miniMagick image attachment -->
    <%#= image_tag @question.image_url(:medium) %>

    <p>Like count: <%#= @question.likes_count %></p>


    <%# if can? :edit, @campaign %>
      <%= link_to "Edit", edit_question_path(@question), class: "btn btn-info" %>
    <%# end %>
    <%# if can? :destroy, @campaign %>
      <%= link_to "Delete", @question, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure to delete?"} %>

    <%# end %>
  </div>
  <div class="">
    <h3>Answers:</h3>
    <% @question.answers.each do |a| %>
      <%= link_to a.title, scorecards_path(a), method: :post, class: "btn btn-info" %>
    <% end %>
  </div>
  <%# render "graph" %>
  
</div>
