
<%= render 'shared/error_messages' %>

<%= f.text_field :name, class: 'form-control',
 placeholder: "name" %>
<br>
<%= f.email_field :email, class: 'form-control',
 placeholder: "email" %>
<br>
<%= f.number_field :birth_year, class: 'form-control',
 placeholder: "Year" %>
<br>
<%= f.password_field :password, class: 'form-control',
 placeholder: "password" %>
<br>
<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "confirm password" %>
<h4>Ladies? 
<%= f.check_box :female %></h4>
<h4>Gents?
<%= f.check_box :male %></h4>
<br>
