
<%= render 'shared/error_messages' %>

<%= f.text_field :name, class: 'form-control',
 placeholder: "name" %>
<br>
<%= f.email_field :email, class: 'form-control',
 placeholder: "email" %>
<br>
<%= f.number_field :birth_year, class: 'form-control',
 placeholder: "Year" %>
<br>
<%= f.password_field :password, class: 'form-control',
 placeholder: "password" %>
<br>
<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "confirm password" %>
<h4>Are you a lady? 
  <%= f.check_box :female, collection: [ ['Female', true], ['Male', false]] %>
<%#= f.select(:female) %></h4>
<%#= f.select_tag(:female, options_for_select(female:, male:)) %>
<%#= f.check_box :male %></h4>
<br>
