<h1>All users</h1>

<h3>Regular Users</h3>
<% @users.each do |user| %>
 <%# if current_user.admin? && !current_user?(user) %> 
  <%#= link_to "Delete", user, method: :delete,
        data: { confirm: "Are you sure?" } %>

  <%# if user != user.admin? %>       
  <% if !user.admin? %>
    <p>
      <%= link_to "Make Admin", make_admin_path(user.id), method: :patch,  data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  %> <br>
      <%= link_to user.name, user, class: "btn btn-info btn-sm" %> <br>
      EMAIL: <%= user.email %> <br>
      YEAR: <%= user.birth_year %> <br>
      FEMALE: <%= user.female %> <br>
      ADMIN: <%= user.admin %> <br>
      LATITUDE: <%= user.latitude %> <br>
      LONGITUDE: <%= user.longitude %> <br>
      COUNTRY: <%= user.country_id %> <br>
      CREATED AT: <%= user.created_at %> <br> 
      PASSWORD DIGEST: <%= user.password_digest %>. <br>
      <hr>
    </p>
  <% end %> <br>
<% end %>

<h3>Admin Users</h3>   
<% @users.each do |user| %>
  <% if user.admin? %>
    <p>
      <%= link_to "Undo Admin", make_admin_path(user.id), method: :patch,  data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  %>
       <br>
      <%= link_to user.name, user, class: "btn btn-info btn-sm" %> <br>
      EMAIL: <%= user.email %> <br>
      YEAR: <%= user.birth_year %> <br>
      FEMALE: <%= user.female %> <br>
      ADMIN: <%= user.admin %> <br>
      Latitude: <%= user.latitude %> <br>
      longitude: <%= user.longitude %> <br>
      COUNTRY: <%= user.country_id %> <br>
      CREATED AT: <%= user.created_at %> <br> 
      DIGEST: <%= user.password_digest %>. <br>
      <br>
    </p>
  <% end %>
<% end %>
