
  <h1>All users</h1>

<% @users.each do |user| %>
 <% if current_user.admin? && !current_user?(user) %> 
  | <%= link_to "delete", user, method: :delete,
        data: { confirm: "Are you sure?" } %>

<%= link_to user.name, user %>, <br>
EMAIL: <%= user.email %>, <br>
YEAR: <%= user.birth_year %>, <br>
FEMALE: <%= user.female %>, <br>
MALE: <%= user.male %>, <br>
ADMIN: <%= user.admin %>, <br>
COUNTRY: <%= user.country_id %>, <br>
CREATED AT: <%= user.created_at %>, <br> 
DIGEST: <%= user.password_digest %>.
<br>
<hr>
<% end %>
<% end %>
