<h2 class='text-center splash_size'> Greetings 
  <%= (Time.now.year - @user.birth_year)-3 %> to 
  <%= (Time.now.year - @user.birth_year)+3 %> year-old 
  <% if @user.female %>
    female!
  <% else %>
    male!
  <% end %>
</h2>
<br>






<div class = 'text-center'>
  <p>Name or email: <%= @user.name %> </p>
  <p>Birthyear: <%= @user.birth_year %> </p>
  <p>Female: <%= @user.female %></p> 
</div>
 