<h2>Advanced Search</h2>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :part %>
    <%= f.text_field :part %>
  </div>

  <div class="Actions"><%= f.submit "Advanced Search" %></div>
  <% end %>