<h1> Search Results</h1>

<%#= render @search.questions %>
<h1>Searching for keyword: <%= @search.keywords %>, title: <%= @search.title %>, Name: <%= @search.name %>, Part: <%= @search.part %></h1>
<h1><% @questions.each do |q| %></h1>
  <%= q.title %>
  <hr>
<% end %>
<br>
